<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>コイン情報の更新</h1>
<p>
  <%= @coin.format_updated_at %><br>
  にcoinsテーブルのデータをアップデートしました。
</p>
</body>
</html>