<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>コイン情報の更新の失敗</h1>
<p>
  <%= Time.zone.now.strftime('%Y年%m月%d日 %H:%M:%S') %>
  にcoinsテーブルのデータのアップデートに失敗しました。
</p>
</body>
</html>